src/main/mule/implementation/post-customer-registration-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-customer-registration-implementationFlow" doc:id="0cdd1260-4a08-491f-9a93-66c67f910aa7" >
		<ee:transform doc:name="Transform Message" doc:id="5e540648-23fd-4f25-b61a-fc72cb3ee61b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
  
    "contactType__c": payload.registrationRequest.contactType,
    "countryCode__c": payload.registrationRequest.countryCode	,
    "mobile__c": payload.registrationRequest.mobile,
    "password__c": payload.registrationRequest.password,
    "acceptPolicy__c": if(payload.registrationRequest.acceptPolicy == true)("true")else("false"),
    "receiveNews__c": if(payload.registrationRequest.receiveNews == true)("true")else("false"),
    "acceptPIC__c": if(payload.registrationRequest.acceptPIC == true)("true")else("false"),
    "locale__c": payload.registrationRequest.locale,
    "captchaToken__c": payload.registrationRequest.captchaToken,
    "receiveClaimSettle__c":if(payload.registrationRequest.receiveClaimSettle == true)("true")else("false")	
 
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="8db77b61-9146-419b-83ef-f06a7556af5b" config-ref="Salesforce_Config" type="registration__c"/>
	
	<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  registrationResponse: {
    eventInstanceId: "asfasdadadada",
    status: "success"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	
	</flow>
</mule>
