src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="apikit-globalErrorError_Handler">
            
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="apikit-globalErrorError_Handler" />
    </flow>
    <flow name="post:\customers\registration:application\json:api-config">
		<flow-ref doc:name="Flow Reference to call initialize Request data" doc:id="cd81c887-0798-4211-88b3-bde897c06b97" name="initialize_request_data_SubFlow"/>
		<logger level="INFO" doc:name="Start Logger for customer registration API" doc:id="8be8bac0-cfe8-4a8e-844e-6a77bf1fb2f3" message="#[%dw 2.0&#10;output application/json indent = false &#10;---&#10;{&#10;	Timestamp: now(),&#10;	transactionId: vars.headers.'x-cms-transactionId',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessname: &quot;Customer Registration&quot;, &#10;	Category: &quot;Customer&quot;,&#10;	OriginatingApplication: &quot;process API&quot;,&#10;	DestinationApplication: &quot;Salesforce&quot;,&#10;	CustomerId: &quot;NA&quot;,&#10;	txnState: &quot;START&quot;&#10;	&#10;	&#10;	&#10;}]"/>
		<flow-ref doc:name="Flow Reference to call  customer registration Implementation" doc:id="0c30d106-c6bf-4cfc-b67b-bd4425b38e5b" name="post-customer-registration-implementationFlow"/>
		<logger level="INFO" doc:name="END Logger for customer registration API" doc:id="fef57e57-52d9-48fc-b133-60dea1e84003" message="#[output application/json indent = false &#10;---&#10;{&#10;	Timestamp: now(),&#10;	transactionId: vars.headers.'x-cms-transactionId',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessname: &quot;Customer Registration&quot;, &#10;	Category: &quot;Customer&quot;,&#10;	OriginatingApplication: &quot;process API&quot;,&#10;	DestinationApplication: &quot;Salesforce&quot;,&#10;	CustomerId: &quot;NA&quot;,&#10;	txnState: &quot;END&quot;&#10;	&#10;	}]"/>
		
    </flow>
</mule>
